[tools]
golang = "1.26.0"
golangci-lint = "2.10.0"
shellcheck = "0.11.0"
nodejs = "24.13.1"
shfmt = "3.12.0"
vale = "3.3.0"
watchexec = "latest"

[tasks.lint]
depends = ['eslint', 'prettier', 'golangci-lint']

[tasks.test]
depends = ['build-assets']
run = "npm test"

[tasks.test-headed]
depends = ['build-assets']
run = "npm run test:headed"

[tasks.test-ui]
depends = ['build-assets']
run = "npm run test:ui"

[tasks.eslint]
dir = "src"
run = "npx eslint ."

[tasks.golangci-lint]
dir = "vibekickstart"
run = "golangci-lint run ./..."

[tasks.prettier]
dir = "src"
run = "npx prettier . --write"

[tasks.build]
depends = ['build-assets']
env = { CGO_ENABLED = '0', GOOS = 'linux', GOARCH = 'arm64' }
dir = "vibekickstart"
run = "go build -ldflags '-w' -o vibekickstart"

[tasks.build-assets]
hide = true
run = "npm run build"

[tasks.run]
depends = ['build-assets']
sources =[
  'vibekickstart/**/*.{tmpl,go}',
  'src/**/*',
  'package-lock.json',
]
dir = "vibekickstart"
run = "go run ."

[tasks.watch]
run = "mise watch -r run"

[tasks.deploy]
depends = ['build']
run = """
#!/usr/bin/env bash

set -xeuf -o pipefail

HOST="i.jarv.org"

ssh root@$HOST "systemctl stop vibekickstart.service"
scp -C vibekickstart/vibekickstart root@$HOST:/opt/vibekickstart/vibekickstart
ssh root@$HOST "systemctl start vibekickstart.service"
rm -f vibekickstart/vibekickstart
"""
